/* ===============================
   FOOTER
================================ */
footer {
    background-color: #0a0c10;
    border-top: 2px solid #1f232b;
    padding: 30px 20px;
    margin-top: 40px;
}

footer p {

    text-align: center;
    font-size: 0.9rem;
    color: #cfcfcf;
}

.footer-links {
    text-align: center;
    margin: 10px 0;
}

.footer-links a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links span {
    margin: 0 5px;
    color: #777;
}

.redes-sociais {
    text-align: center;
    margin: 15px 0;
}

.redes-sociais a {
    color: #e0e0e0;
    font-size: 1.4rem;
    margin: 0 10px;
}

.redes-sociais a:hover {
    color: #00ffcc;
}

/* ===============================
   NOTÍCIAS
================================ */
.noticias-ciber {
    margin-top: 30px;
}

.noticias-ciber h3 {
    text-align: center;
    color: #00ffcc;
    margin-bottom: 20px;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.coluna-noticia {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #1f232b;
}

.coluna-noticia h4 {
    color: #00ffcc;
    margin-bottom: 10px;
}

.coluna-noticia ul {
    list-style: none;
}

.coluna-noticia li {
    margin-bottom: 6px;
}

.coluna-noticia a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 0.9rem;
}

.coluna-noticia a:hover {
    color: #00ffcc;
}
